openapi: 3.2.0
info:
  title: LinkSquares Account API
  description: The LinkSquares API is the public REST API for the LinkSquares AI-powered contract lifecycle management (CLM) platform.
  version: '1.0'
  contact:
    name: LinkSquares
    url: https://linksquares.com
  license:
    name: Proprietary
    url: https://linksquares.com/saas-terms-of-service
servers:
- url: https://api.linksquares.com
  description: LinkSquares production API gateway
security:
- apiKeyAuth: []
tags:
- name: Account
  description: Identity and status of the API user (confirmed).
paths:
  /api/analyze/v1/me:
    get:
      operationId: getCurrentUser
      tags:
      - Account
      summary: Get the current API user
      description: Returns information about the user the API key is assigned to and the status of the server. Confirmed.
      responses:
        '200':
          description: Current user and server status.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: LinkSquares API key passed as an `x-api-key` header on every request. Keys are self-managed by Administrator users and are shared across the Analyze and Finalize products.
